body {
  background: rgba(200, 0, 0, 0.2);
  
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;  
  #newElement, #filter, #exitList {
  border: 1px;  
  }
  #header {
  width: 99vw;
  height: 130px;
  position: -webkit-sticky;
  position: fixed;
  background: rgb(162, 6, 6);
  top: 0;
  overflow:hidden;
  z-index: 3;
    #logo {    
    display: flex;
    position: absolute;
    background: black;
    border-radius: 10px;
    border-style:outset;
    border-color: black;
    margin: 12px 0 0 15px;
    background-image: "toolboxicon.png";
    }
    #logo:hover {
      box-shadow: 2px 2px 10px 1px white;
      transition: 0.3s;
      animation-delay: 0.5s;
    }
    #tit1 {    
    position: relative;    
    display: -webkit-box;
    display: -ms-flexbox;    
    color: white;
    left: 25%;
    top: 30%;
    }    
    #tit2 {
    position: relative;
    color: white;    
    right: 15%;
    top: 30%;
    text-align: right;
    }
    .hoverCom {
      .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: white;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
      
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
      }
      .hoverCom:hover .tooltiptext {
        visibility: visible;
      }
    } 
  }
  .container {    
    margin: 10% 0 0 3%;
    max-width: 90vw;
    padding: 0;
    overflow: none;
    #inputs {
    border-radius: 15px;    
    padding: 10px;
    width: auto;
    height: fit-content;
    max-width: 15vw;
      #newElement {
        padding: 10px 0 15px 15px;
        border-radius: 15px;        
        border-style: solid;
        border-color: black;
        border-width: 4px;
        box-shadow: 7px 7px 8px rgb(162, 6, 6);
        background: #fff;           
        #elemInput {
          width: 150px;
          border-radius: 5px;
        }
        #elemButton {
          width: 75px;
          padding-bottom: 2px;
          border-radius: 5px;
          text-align: center;
        }
      }
      #filter {        
        padding: 10px 0 15px 15px;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        border-width: 4px;     
        box-shadow: 7px 7px 8px rgb(162, 6, 6);
        background: #fff; 
      }
    }
    #items {
    background: black;
    border-radius: 15px;    
    box-shadow: 7px 7px 8px rgb(162, 6, 6);
    padding: 10px;
    margin: 0 25px 0 25px;
    }
    #cartSide {
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 3px;    
    box-shadow: 7px 7px 8px rgb(162, 6, 6);
    background: #fff;
    padding: 10;
    height: fit-content;
      #carrito {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 350px;
        max-width: 375px;     
      }
    }   
  }
}
  /*  
  #main {
    margin: 2% 0 0 2%;
  }
  #titul0 {
    font-size: 3rem;
    margin-left: 3%;
    top: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
  }
  #input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 1.5% 3%;
  } 
  #list2 {
    left: 2%;
    top: 23%;
    border: black;
    background: white;
    border-style: groove;
    border-radius: 15px;
    width: 400px;
    height: 300px;
  }  
  #container2 {  
    position: absolute;
    margin-top: 1.5%;
    top: 20%;
    left: 30%;
  }  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */